.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_free {
    float: right;
}
.clear{
    clear:both;

}

a{
    font-size: 12px;
    font-family:tahoma;
}

/*--------------------------------------
*   Site styles
--------------------------------------*/

.main-nav{
    background:#2f2f2f;
}
.main-nav ul.nav li{
    float:left;
}
.main-nav ul.nav li a{
    display: block;
    padding:10px 10px;
    text-decoration: none;
    color: #fff;

}
