.clear{
    clear:both;
}


body{

}

body,a,input{
    font-family: 'Open Sans';
    font-size: 14px;
}

a{

    text-decoration: none;
}

.gridRowCat{
    margin-bottom:10px;
    margin-top: 10px;
}
.wrapper{
    max-width: 960px;
    margin: auto;
    min-width:320px
}
.content-wrapper{
    border-radius:10px;
    border:1px solid #efefef;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#efefef 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */

}
.header {
    padding: 15px 0;
}
.header .logo{
    float: left;
}
.header .logo a{
    color: #c38aff;
    font-size: 64px;
    display: block;
    width: 125px;
    height: 35px;
    background: url(images/logo.png) no-repeat;
    background-size: cover;
}
.side-menu{
    float:left;
}
.side-menu li {
    float: left;
    margin: 4%;
    width: 42%;
}
.side-menu li a {
    display: block;
    height: 42px;
    background-repeat: no-repeat;
    padding-left: 45px;
    background-position: left top;
    color:#727171;
}
.side-menu li a h1{
    float:left;
    margin-top: 2px;
}
.side-menu li a p
{
    clear: both;
    color: #3B97D3;
    float: left;
    font-family: tahoma;
    font-size: 11px;
    margin-top: 4px;
}
.side-menu li.docs a{
    background-image: url(images/docs.png);
}
.side-menu li.apps a{
    background-image: url(images/apps.png);
}
.side-menu li.themes a{
    background-image: url(images/themes.png);
    background-position: left -3px;
}
.side-menu li.hooks a{
    background-image: url(images/hooks.png);
}
.side-menu li.widgets a{
    background-image: url(images/widgets.png);
}
.side-menu li.langs a{
    background-image: url(images/langs.png);
}



/*
    Buttons
*/

.btn.blue{
    box-shadow: 2px 2px 5px #3086C4 inset;
    background: #3c97d3;
    border:0;
    cursor: pointer;
}
.btn.blue:hover{
    box-shadow:2px -2px 5px #3086C4 inset
}
.btn.blue.download-btn{
    padding: 10px 15px;

}

.download-box{
    float:right;
    margin-right: 40px;
    margin-top: 15px;
}


.btn.blue.download-btn h1{
    font-size: 16px;
    color:#fff;
}
.btn.blue.download-btn p{
    font-size: 11px;
    color:#e4e4e4;
    font-family: tahoma;
}

.try-it-now {
    float: left;
    font-size: 31px;
    margin-right: 14px;
    margin-top: 9px;
}

#gridRow_1{
    background-image: url(images/separtor-1.png);
    background-position:  bottom;
    background-repeat: repeat-x;
}

.blue-title-widget .title{
    color:#3b97d3;
    font-size: 22px;
}