
@media all and (min-width: 800px) {
    .visible-tablet
    {
        display: none;
    }
    .visible-phone
    {
        display: none;
    }
    .hidden-desktop
    {
        display: none;
    }
}
@media all and (max-width: 800px) {
    .visible-desktop
    {
        display: none;
    }
    .visible-phone
    {
        display: none;
    }
    .hidden-tablet
    {
        display: none;
    }
}
@media all and (max-width: 360px) {

    .visible-desktop
    {
        display: none;
    }
    .visible-tablet
    {
        display: none;
    }
    .hidden-phone
    {
        display: none;
    }
}

/**
* Whole
*/
.whole { width:100%; }


/**
* Halves
*/
.half { width:50%; }


/**
* Thirds
*/
.one-third { width:33.333%; }
.two-thirds { width:66.666%; }


/**
* Quarters
*/
.one-quarter { width:25%; }
.two-quarters { width: 50% }
.three-quarters { width:75%; }


/**
* Fifths
*/
.one-fifth { width:20%; }
.two-fifths { width:40%; }
.three-fifths { width:60%; }
.four-fifths { width:80%; }


/**
* Sixths
*/
.one-sixth { width:16.666%; }
.five-sixths { width:83.333%; }


/**
* Eighths
*/
.one-eighth { width:12.5%; }
.three-eighths { width:37.5%; }
.five-eighths { width:62.5%; }

.seven-eighths { width:87.5%; }


/**
* Tenths
*/
.one-tenth { width:10%; }
.three-tenths { width:30%; }

.seven-tenths { width:70%; }

.nine-tenths { width:90%; }


/**
* Twelfths
*/
.one-twelfth { width:8.333%; }
.five-twelfths { width:41.666% }
.seven-twelfths { width:58.333%; }
.eleven-twelfths { width:91.666%; }
    